
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

 :root {
    --nav-bg-color: #ffffff;
    --bg-color : #EEEDEB;
    --fs-ui-: 0.850rem;
    --fs-ui-color :  #8a8988;
    --ui-bx-shadow :  0px 5px 5px -3px rgba(0, 0, 0, 0.3);
    --ui-btn-bg-color :  #5D3891;
    --ui-btn-danger-color : #FF407D;
    --ui-btn-danger-hover-color : #be0c45;
    --ui-color :  #ffffff;
    /* form  */
    --ui-form-boxsahdow : 0 0 0 0.2rem rgba(143, 6, 223, 0.5);
    --ui-form-bordercolor :#6926c5;
    /* font  */
    --ui-fontfamily : "Roboto", sans-serif;

 }


 
 .pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg:  #5D3891;
  --bs-pagination-active-border-color:  #5D3891;
}


 html, body {
    background-color: var(--bg-color);
 }

 main > .container {
  padding: 60px 15px 0;
}

 .navbar {
    background-color: var(--nav-bg-color);    
 }

 .navbar-toggler {
  color:  #5D3891;
  border: none;
 }

 .bi-distribute-vertical{
  font-size: 1.1rem;
 }
 .bi-exclude{
  color: var(--ui-btn-bg-color);
 }
 .navbar-toggler:focus{
  box-shadow: none;
 }

 .fs-ui {
    font-family: var(--ui-fontfamily);
    font-size: var(--fs-ui-);
    color: var(--fs-ui-color);
 }
#contain-ui {
    margin-top: 3rem;
}
#contain-ui .card{
    border-radius: 15px;
    box-shadow: var(--ui-bx-shadow);
}

  .btn-danger-ui{
    font-family: var(--ui-fontfamily);
    background-color: var(--ui-btn-danger-color);
    color: var(--ui-color);
    box-shadow: var(--ui-bx-shadow);
    border-radius: 8px;

  }
  .btn-danger-ui:hover{
    background-color: var(--ui-btn-danger-hover-color);
    color: var(--ui-color)
  }

.btn-ui {
    font-family: var(--ui-fontfamily);
    /* font-size: var(--fs-ui-); */
    background-color: var(--ui-btn-bg-color);
    color: var(--ui-color);
    border-radius: 8px;
    box-shadow: var(--ui-bx-shadow);
}
.btn-ui:hover{
    font-family: "Roboto", sans-serif;
    background-color:   #8b58d3;;
    color: var(--ui-color);
}
/* dropdown  */
/* .dropdown-menu[data-bs-popper] {
  top: 3.800rem;
  left: -5rem;
} */

.dropdown-menu{
  box-shadow: var(--ui-bx-shadow);
  /* border-color: #8b58d3; */
  border-color: var(--nav-bg-color);
}
.dropdown-menu .dropdown-item:hover{
  background-color: var(--ui-btn-bg-color);
  border-radius: 8px;
  color: var(--bg-color);
}
.dropdown-menu .dropdown-item:active {
  background-color: var(--ui-btn-bg-color);
  border-radius: 8px;
}
.dropdown-menu i {
  background-color: var(--ui-form-bordercolor);
  color: var(--bg-color);
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 50%;
  filter: blur(0.4px);
}

/* dropdown  */
/* form input  */
.form-control {
  border-radius: 10px;
  border-width: 0.12rem;
  border-color: #efe3e3;
  outline: none;
  box-shadow: var(--fs-ui-color);
}
.form-control:focus {
    border-color: var(--ui-form-bordercolor); 
    outline: none; 
    box-shadow: var(--ui-form-boxsahdow); 
    /* background-color: #FFF67E; */
  }

  .form-select {
    border-radius: 10px;
    border-width: 0.12rem;
    border-color: #efe3e3;
    outline: none;
  }
  .form-select:focus {
    border-color: var(--ui-form-bordercolor); 
    outline: none; 
    box-shadow: var(--ui-form-boxsahdow);  
  }
  
  .form-check-input {
    border-radius: 10px;
    border-width: 0.12rem;
    border-color:  #efe3e3;
    outline: none;
  }
  
  .form-check-input:checked {
    box-shadow: var(--ui-form-boxsahdow); 
    background-color:  var(--ui-form-bordercolor);
    border-color:  var(--ui-form-bordercolor);
  }

  
